/* ExplorePage.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.explore-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Initial state of entering component */
.explore-card-enter {
    transform: translateY(100%);
    opacity: 0;
}

/* Entering component transition */
.explore-card-enter-active {
    transform: translateY(0%);
    opacity: 1;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

/* Initial state of exiting component */
.explore-card-exit {
    transform: translateY(0%);
    opacity: 1;
}

/* Exiting component transition */
.explore-card-exit-active {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

@media(max-width: 480px){
    .explore-page{
        padding: 0;
        margin-bottom: 55px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: normal;
    }

    .explore-page::-webkit-scrollbar{
        display: none;
    }
}



