/* GroupInfo.css */
.group-info {
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    scrollbar-color: #e4e4e4 transparent;
    flex: 1;
}

.group-info::-webkit-scrollbar {
    width: 8px;
}

/* Dark mode styles */
body.dark .group-info {
    background-color: #2e2e2e;
    color: #fff;
}

.group-info-header {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

/* Dark mode styles */
body.dark .group-info-header {
    color: #fff;
}

.group-section-title {
    font-weight: 600;
    color: #555;
    margin: 20px 0 10px;
    font-size: 0.9rem;
}

/* Dark mode styles */
body.dark .group-section-title {
    color: #ccc;
}

.group-description,
.group-desired-members {
    font-size: 0.85rem;
    color: #666;
    line-break: anywhere;
    margin-bottom: 10px;
}

/* Dark mode styles */
body.dark .group-description,
body.dark .group-desired-members {
    color: #ddd;
}

.group-members-list,
.group-attachments-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.group-member-item,
.group-attachment-item {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 5px;
    transition: background-color 0.2s;
    border-radius: 5px;
    margin-bottom: 10px;
    gap: 15px;
}

.group-member-item:hover,
.group-attachment-item:hover {
    cursor: pointer;
    background-color: #e3e2e2;
}

/* Dark mode styles */
body.dark .group-member-item:hover,
body.dark .group-attachment-item:hover {
    background-color: #3a3a3a;
}

.group-member-name {
    font-size: 0.8rem;
    font-weight: 600;
    color: #444;
}

/* Dark mode styles */
body.dark .group-member-name {
    color: #fff;
}

.group-attachment-link {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.85rem;
}

/* Dark mode styles */
body.dark .group-attachment-link {
    color: #85bff8;
}

.group-attachment-link:hover {
    text-decoration: underline;
}

/* Additional Styles for "+x more" Button */
.more-members-button {
    justify-content: center;
    background-color: #f0f0f0;
    color: #007bff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.more-members-button:hover {
    background-color: #e0e0e0;
    color: #0056b3;
}

.modal-content {
    background: #fff;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    padding: 20px;
    position: relative;
    overflow-y: auto;
}

.connection-action {
    display: flex;
    align-items: center;
}

.connection-button, .connection-button-remove {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #007bff;
    transition: color 0.2s;
    margin: 0 10px;
    border-radius: 50%;
    padding: 5px;
}

.connection-button-remove{
    color: #ef6363;
}

.connection-button:hover, .connection-button-remove:hover {
    background-color: white;
}

.connection-button:disabled {
    cursor: not-allowed;
    color: #aaa;
}

/* Dark mode styles */
body.dark .modal-content {
    background-color: #3a3a3a;
    color: #fff;
}

.modal-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.modal-close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #aaa;
    transition: color 0.2s;
}

.modal-close-button:hover {
    color: #000;
}

/* Dark mode styles */
body.dark .modal-close-button {
    color: #fff;
}

.body.dark .modal-close-button:hover {
    color: #ddd;
}

.modal-members-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal-member-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.2s;
    gap: 15px;
}

.modal-member-item:hover {
    background-color: #f9fafb;
    cursor: pointer;
}

/* Dark mode styles */
body.dark .modal-member-item:hover {
    background-color: #4a4a4a;
}

.modal-member-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.modal-member-name {
    font-size: 0.8rem;
    font-weight: 600;
    color: #444;
}

/* Dark mode styles */
body.dark .modal-member-name {
    color: #fff;
}

