.auth-page {
    background-color: rgb(216,226,233);
    color: white;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.auth-container {
    background-color: #757474;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    width: 400px;
    text-align: center;
    animation: fade-in 1s forwards;
    position: absolute;
    top: 40%;
    z-index: 2;
}

.auth-container-h2 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 2rem;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    background-color: #333;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
}

.auth-container input::placeholder {
    color: #bbb;
}

.social-login{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.submit-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 0.75rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-top: 0.5rem;
}

.submit-button:hover {
    background-color: white;
    color: black;
}

.switch-button {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    margin-left: 0.25rem;
}

.back-button {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    z-index: 4;
}

.auth-container-p {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.teddy-bear-rive{
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.teddy-bear-rive canvas{
    border-radius: 10px;
}


