/* Components/Groups/Groups.css */
.groups-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.group-message-view {
    flex: 1;
    margin: 30px;
    border-radius: 10px;
    background-color: white;
    height: 95vh;
    font-family: 'Montserrat', sans-serif;
}

.no-group-selected {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    color: #666;
}

.no-connections-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.no-connections-card {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.explore-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.explore-button:hover {
    background-color: #0056b3;
}
