/* Components/Groups/Groups.css */
.groups-page {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex: 1;
}

.group-message-view {
    flex: 1;
    border-radius: 10px;
    margin: 15px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.no-group-selected {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    color: #666;
}

.no-groups-container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}

.explore-button {
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 5px 10px;
    background-color: #439ef6;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.explore-button:hover {
    background-color: #0056b3;
}
