#viewprofile.viewprofile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

#viewprofile .viewprofile-modal {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 95%;
    max-width: 600px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#viewprofile .viewprofile-content {
    text-align: center;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    padding-right: 10px;
}

#viewprofile .viewprofile-content::-webkit-scrollbar {
    display: none;
}

#viewprofile .viewprofile-connect-button{
    margin-top: 10px;
    background-color: rgba(0, 123, 255, 0.2);
    color: #007BFF;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px;
    flex: 1;
    max-width: 200px;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    outline: none;
}

#viewprofile .viewprofile-connect-button:hover {
    background-color: rgba(0, 123, 255, 0.4);
}


/* Dark mode styles */
body.dark #viewprofile .viewprofile-modal {
    background-color: #2e2e2e;
    color: #fff;
}

#viewprofile .viewprofile-close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #aaa;
}

/* Dark mode styles */
body.dark #viewprofile .viewprofile-close-button {
    color: #ccc;
}

#viewprofile .viewprofile-close-button:hover {
    color: #000;
}

/* Dark mode styles */
body.dark #viewprofile .viewprofile-close-button:hover {
    color: #fff;
}

#viewprofile .viewprofile-content {
    text-align: center;
    overflow: auto;
}

#viewprofile .viewprofile-profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
    margin-right: 10px;
}

#viewprofile .viewprofile-name {
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
}

/* Dark mode styles */
body.dark #viewprofile .viewprofile-name {
    color: #fff;
}

#viewprofile .viewprofile-location,
#viewprofile .viewprofile-institution,
#viewprofile .viewprofile-work {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #555;
}

/* Dark mode styles */
body.dark #viewprofile .viewprofile-location,
body.dark #viewprofile .viewprofile-institution,
body.dark #viewprofile .viewprofile-work {
    color: #ccc;
}

#viewprofile .viewprofile-section-title {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    color: #000;
}

/* Dark mode styles */
body.dark #viewprofile .viewprofile-section-title {
    color: #fff;
}

#viewprofile .viewprofile-aboutme {
    text-align: left;
    margin-top: 10px;
    font-size: 0.9rem;
    line-break: anywhere;
    color: #333;
}

/* Dark mode styles */
body.dark #viewprofile .viewprofile-aboutme {
    color: #ddd;
}

#viewprofile .viewprofile-list {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
}

#viewprofile .viewprofile-list li {
    margin-bottom: 5px;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Dark mode styles */
body.dark #viewprofile .viewprofile-list li {
    background-color: #3a3a3a;
    color: #fff;
}

#viewprofile .viewprofile-list li:not(:last-child) {
    margin-bottom: 8px;
}

@media(max-width: 768px) {
    #viewprofile.viewprofile-overlay{
        padding: 5px 0 5px 0;
        z-index: 20;
    }
}

@media(max-width: 480px) {
    #viewprofile.viewprofile-overlay {
        height: 100vh;
    }
    #viewprofile .viewprofile-name{
        font-size: 1.2rem;
    }
    #viewprofile .viewprofile-content {
        height: fit-content;
    }

    #viewprofile .viewprofile-location {
        font-size: 1rem;
    }
    #viewprofile .viewprofile-profile-picture {
        width: 100px;
        height: 100px;
    }
}