@tailwind base;
@tailwind components;
@tailwind utilities;

/* Home Container */
.home-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

/* Background Image Container */
.home-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

/* Home Content */
.home-content {
    position: relative;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    margin-top: 13%;
}

.home-background-image {
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}

/* Mission Text */
.mission {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    pointer-events: none;
}

/* Home Content Text */
.home-content-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    width: 50%;
    pointer-events: none;
}

.dynamic-text {
    display: inline-block;
    min-width: 150px;
    text-align: center;
    width: 300px;
}

@media (max-width: 700px) {
    .home-content-text {
        font-size: 40px;
    }
}

/* Get Started Button */
.get-started-button {
    pointer-events: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
    color: white;
    padding: 0.75rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-top: 0.5rem;
    font-size: 20px;
    border-radius: 0.4rem;
}

.get-started-button:hover {
    background-color: white;
    color: black;
}

/* Image Banner Styles */
.image-banner {
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.image-track {
    display: flex;
    align-items: center;
    animation: scrollLeft 15s linear infinite;
    /* Extra length ensures there are always images in view */
}

.banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    height: 60px;
    padding: 0 10px;
}

.banner-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    vertical-align: middle;
}

/* Keyframes for smooth scrolling */
@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


@media (max-width: 768px) {
    .home-content {
        margin-top: 25%;
    }
}

