*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .settings-card {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark-mode .settings-tab {
  color: rgba(113, 112, 112, 0.97);
}

body.dark-mode .settings-tab.active {
  background-color: #2c2c2c;
  color: #fff;
}

body.dark-mode input,
body.dark-mode select {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

body.dark-mode .profile-settings button,
body.dark-mode .advanced-settings button,
body.dark-mode .configuration-settings button {
  background-color: #444;
}
