@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.group-message-page {
    display: flex;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    gap: 20px;
    width: 100%;
    scrollbar-color: #e4e4e4 transparent;
}
body.dark .group-message-page{
    scrollbar-color: gray transparent;
}

/* Dark mode styles */
body.dark .group-message-page {
    background-color: #1e1e1e;
}

.group-message-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    z-index: 4;
}

/* Dark mode styles */
body.dark .group-message-container {
    background-color: #2e2e2e;
}

.group-message-content-other {
    padding: 8px;
    border-radius: 15px;
    background-color: #e1e1e1;
}

/* Dark mode styles */
body.dark .group-message-content-other {
    background-color: #3a3a3a;
    color: #fff;
}

.group-message-list {
    flex: 2;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}

.group-message-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2px;
}

.group-message-own {
    align-self: flex-end;
    align-items: flex-end;
}

.group-message-content-own,
.group-message-content-other {
    min-width: 40px;
    width: fit-content;
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 16px;
    position: relative;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 2px;
    word-wrap: break-word;
}

.group-message-content-own {
    background-color: #5ab5ff;
    color: white;
}

body.dark .group-message-content-own{
    background-color: #e0e0e0;
    color: black;
}

.group-message-content-other {
    background-color: #e0e0e0;
    color: black;
}

body.dark .group-message-content-other {
    background-color: #3a3a3a;
    color: #fff;
}


.group-message-timestamp {
    font-size: 0.75rem;
    color: #666;
    text-align: center;
    margin: 10px auto;
    display: block;
    width: 100%;
}

/* Dark mode styles */
body.dark .group-message-timestamp {
    color: #aaa;
}

.group-message-sender-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.group-message-sender-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.group-message-sender-name {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

/* Dark mode styles */
body.dark .group-message-sender-name {
    color: #fff;
}

.group-message-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    bottom: 0;
    gap: 10px;
}

.group-message-input {
    flex: 1;
    padding: 8px;
    font-size: 0.8rem;
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
    margin-right: 10px;
}

/* Dark mode styles */
body.dark .group-message-input {
    background-color: #3a3a3a;
    color: #fff;
    border: 1px solid #555;
}

.group-message-send-button {
    font-size: 1rem;
    cursor: pointer;
}

.delete-message-btn-group{
    position: fixed;
    width: 160px;
    height: 30px;
    background-color: #439ef6;
    right: 20%;
    z-index: 10;
    font-weight: 600;
    color: white;
    font-size: 13px;
    padding: 3px 5px;
    border-radius: 5px;
    top: 2px;
}
body.dark .delete-message-btn-group{
    background-color: #3a3a3a;
    border: 1px solid #555;
}

body.dark .delete-message-btn-group:hover{
    background-color: #555;
}

@media (max-width: 480px) {
    .group-message-container {
        padding: 45px 0;
    }

    .group-message-input-container {
        position: absolute;
        width: 100vw;
        bottom: 0;
        border-radius: 0;
        backdrop-filter: blur(10px);
        z-index: 4;
    }
}

