@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.how-it-works-container {
    position: relative;
    min-height: 100vh;
    padding: 40px 20px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-attachment: fixed;
    background-color: rgba(17, 24, 39, 0.8) ;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    /* Radial ellipse from the top, with subtle green at center and dark/black outward */
    background: radial-gradient(
            ellipse at top,
            #0c6e56 0%,
            #0b4e3e 20%,
            #0c2e37 40%,
            #081024 70%,
            #000 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.content {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.how-it-works-title {
    font-family: 'Montserrat', sans-serif;
    color: #D1D5DB
}

.how-it-works-subtitle {
    color: #9CA3AF;
}
.step {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.6s ease-out;
    gap: 10px;
}


.step-2 {
    flex-direction: row-reverse;
    transform: translateX(300px);
}

.step-content {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
}

.step-image {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    max-height: 400px;
}

.step-image:hover {
    transform: scale(1.05);
}

.slide-in {
    opacity: 1;
    transform: translateX(0);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
}

.step-description {
    font-family: "Apple SD Gothic Neo";
}

@media (max-width: 768px) {
    .step {
        flex-direction: column;
        transform: translateY(50px);
    }

    .step-2 {
        flex-direction: column;
        transform: translateY(50px);
    }

    .step-image {
        width: 100%;
        margin-bottom: 20px;
    }

    .step-content {
        width: 100%;
    }

    .slide-in {
        transform: translateY(0);
    }
}
