@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.messages-page-container {
  width: 100%;
  display: flex;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(245, 245, 245);
  overflow: hidden;
}

/* Dark mode styles */
body.dark .messages-page-container {
  background-color: #1e1e1e;
}

.messages-page {
  flex: 2;
  width: 100%;
  display: flex;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(245, 245, 245);
  overflow: hidden;
}

/* Dark mode styles */
body.dark .messages-page {
  background-color: #1e1e1e;
}

.message-page-subset {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin: 15px 15px 15px 0;
  border-radius: 10px;
  background-color: white;
  z-index: 4;
}

/* Dark mode styles */
body.dark .message-page-subset {
  background-color: #2e2e2e;
}

.contact-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contact-header:hover {
  cursor: pointer;
  background-color: #ebf3fd;
}

/* Dark mode styles */
body.dark .contact-header {
  border-bottom: 1px solid #444;
  background-color: #2e2e2e;
}

body.dark .contact-header:hover {
  background-color: #3a3a3a;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-avatar {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-name {
  font-size: 0.9rem;
  font-weight: 500;
}

/* Dark mode styles */
body.dark .contact-name {
  color: #fff;
}

.messages-menu-icon {
  position: relative;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.add-members-icon {
  position: relative;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.add-members-icon:hover {
  color: blue;
  cursor: pointer ;
}

body.dark .add-members-icon:hover {
  color: #0dba85;
}
.contact-header:hover .messages-menu-icon {
  border: 1px solid #ccc;
}

.messages-menu-icon:hover {
  background-color: #e3e2e2 ;
}

/* Dark mode styles */
body.dark .messages-menu-icon{
  color: white;
}
body.dark .messages-menu-icon:hover {
  background-color: #555;
}

.back-arrow {
  cursor: pointer;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 30%;
}

.back-arrow:hover {
  background-color: #e3e2e2;
  cursor: pointer;
}

/* Dark mode styles */
body.dark .back-arrow{
  color: #fff;
}

body.dark .back-arrow:hover {
  background-color: #555;

}

.messages-dropdown-menu {
  position: absolute;
  right: 0;
  top: 25px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  z-index: 1;
  padding: 5px;
}

/* Dark mode styles */
body.dark .messages-dropdown-menu {
  background-color: #2e2e2e;
  border: 1px solid #444;
}

.messages-dropdown-menu button {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 0.8rem;
}
.messages-dropdown-menu button:hover {
  cursor: pointer;
}

/* Dark mode styles */
body.dark .messages-dropdown-menu button {
  color: #fff;
}

.messages-dropdown-menu button:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Dark mode styles */
body.dark .messages-dropdown-menu button:hover {
  background-color: #444;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  scrollbar-color: #e4e4e4 transparent;
  position: relative;
}

/* Dark mode styles */
body.dark .messages-container {
  scrollbar-color: #555 transparent;
}

.messages-container::-webkit-scrollbar {
  width: 8px;
}

.messages-container::-webkit-scrollbar-track {
  background: transparent;
}

.message-bubble {
  min-width: 40px;
  width: fit-content;
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 16px;
  position: relative;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 2px;
  word-wrap: break-word;
}

.message-bubble.sent {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

body.dark .message-bubble.sent {
  background-color: #e0e0e0;
  color: black;
}

.message-bubble.received {
  background-color: #e0e0e0;
  color: #000;
  align-self: flex-start;
}

/* Dark mode styles */
body.dark .message-bubble.received {
  background-color: #3a3a3a;
  color: #fff;
}


.message-timestamp {
  text-align: center;
  margin: 10px auto;
  display: block;
  width: 100%;
  font-size: 0.75rem;
  color: #666;
}

/* Dark mode styles */
body.dark .message-timestamp {
  color: #aaa;
}

.message-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  bottom: 0;
  gap: 10px;
}

.message-input-container input {
  flex: 1;
  padding: 8px;
  font-size: 0.8rem;
  border-radius: 20px;
  background-color: rgb(243, 243, 243);
  margin-right: 10px;
}

/* Dark mode styles */
body.dark .message-input-container input {
  background-color: #2e2e2e;
  color: #fff;
  border: 1px solid #555;
}

.message-input-container input:focus {
  outline: none;
}

.message-input-container button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.message-input-container button:hover {
  background-color: #0056b3;
}


.group-member-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -10px; /* Overlapping effect */
}

.group-member-avatar:first-child {
  margin-left: 0;
}

.group-name-clickable {
  color: rgb(44, 145, 244);
  cursor: pointer;
}

.group-name-clickable:hover {
  text-decoration: none;
}

.invitation-message {
  display: flex;
  padding: 15px;
  gap: 10px;
  border-radius: 8px;
  max-width: 500px;
  width: 95%;
  margin: 10px auto;
  position: relative;
  background-size: 50px;
  background-repeat: repeat;
  background-position: center;
}

.group-invitation-details {
  margin-top: 10px;
}

.invitation-description {
  margin-bottom: 5px;

}

.invitation-member-count {
  margin-bottom: 5px;
}

.group-member-avatars {
  display: flex;
  justify-content: start;
  gap: 5px;
  margin-top: 5px;
}

.group-member-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.paperclip-icon {
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.message-wrapper {
  display: block;
  width: 100%;
  margin-bottom: 2px;
}


.paperclip-icon:hover {
  color: #007bff;
}

/* Dark mode styles */
body.dark .paperclip-icon {
  color: #ccc;
}

body.dark .paperclip-icon:hover {
  color: #85bff8;
}

/* Style for the selected file preview */
.selected-file-preview {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* Dark mode styles */
body.dark .selected-file-preview {
  background-color: #3a3a3a;
  color: #fff;
}

.selected-file-preview span {
  flex: 1;
}

.selected-file-preview svg {
  cursor: pointer;
}

/* Style for message attachments */
.message-attachment {
  margin-top: 5px;
}

.attachment-preview {
  display: flex;
  align-items: center;
}

.attachment-filename {
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

/* Dark mode styles */
body.dark .attachment-filename {
  color: #fff;
}

.message-attachment a:hover .attachment-filename {
  text-decoration: underline;
}

.send-icon {
  font-size: 1rem;
  cursor: pointer;
  color: #007bff;
}

.send-icon:hover {
  color: #0056b3;
}

/* Dark mode styles */
body.dark .send-icon {
  color: #85bff8;
}

body.dark .send-icon:hover {
  color: #439ef6;
}

.image-preview-container {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* Dark mode styles */
body.dark .image-preview-container {
  background-color: #3a3a3a;
}

.image-preview-attachment {
  object-fit: cover;
  max-width: 250px;
  max-height: 250px;
  margin-right: 10px;
  border-radius: 5px;
}

/* Style for message images */
.message-image {
  max-width: 140px;
  max-height: 140px;
  margin-top: 5px;
  border-radius: 5px;
}

@media (max-width:768px){
  .message-page-subset{
    width: 100vw;
    margin: 0;
  }
}

@media (max-width: 980px){
  .messages-page-container{
    background-color: white;
  }
}

@media (max-width: 480px){
  body.dark .messages-page-container{
    background-color: #2e2e2e;
  }
}