.snackbar-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 30;
}

.snackbar {
    color: black;
    border-radius: 10px;
    min-width: 250px;
    box-shadow: 2px 2px 8px rgba(153, 237, 172, 0.5),
    4px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

body.dark .snackbar {
    background-color: rgba(50,50,50,0.9);
    border: 2px solid #555;
    box-shadow:none;
    color: white;
}

.snackbar-content {
    padding: 16px;
}

.snackbar-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.snackbar-message {
    font-size: 0.9rem;
    font-weight: 500;
}

/* Progress Bar */
.snackbar-progress {
    height: 4px;
    animation-name: shrink;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

/* Animation for the progress bar */
@keyframes shrink {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

/* Fade-in animation for the snackbar */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the fade-in animation */
.snackbar {
    animation: fadeIn 0.3s ease-in-out;
}

@media screen and (max-width: 480px) {
    .snackbar-container {
        right: 50%;
        transform: translateX(50%);
        width: 90vw;
    }
}