.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.success-message {
    color: #28a745;
    font-size: 14px;
    margin-bottom: 10px;
}

.error-message {
    color: #ef6060;
    font-size: 14px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
