body.dark .configuration-settings h2 {
    color: #fff;
}

.toggle-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.toggle-group label {
    font-weight: 600;
    color: #000;
}

body.dark .toggle-group label {
    color: #ccc;
}

.toggle-switch {
    position: relative;
    width: 50px;
    height: 16px;
}

.toggle-switch input {
    display: none;
}

.mode-icon{
    width: 12px;
}

.toggle-switch label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 16px;
    background-color: #ccc;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 999px;
    transition: transform 0.3s;
}

.toggle-switch input:checked + label::after {
    transform: translateX(26px);
}

/* Dark mode styles */
body.dark .toggle-switch label {
    background-color: #555;
}

body.dark .toggle-switch input:checked + label {
    background-color: #99edac;
}

body.dark .toggle-switch label::after {
    background-color: #fff;
}

/* Responsive adjustments */
@media (max-width: 480px) {
    .configuration-settings h2 {
        font-size: 1.25rem;
    }


    .toggle-group label {
        margin-bottom: 8px;
    }
}
