.card-container {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 15px 15px 0;
    font-family: 'Montserrat', sans-serif;
}

/* Dark mode styles */
body.dark-mode .card-container {
    background-color: #2e2e2e;
}

.card-title {
    font-size: 22px;
    padding: 0 0 10px 0;
    font-weight: bold;
    margin: 0 0 0 10px;
    color: #000;
}

/* Dark mode styles */
body.dark-mode .card-title {
    color: #fff;
}

@media(max-width: 768px) {
    .card-container {
        margin: 0 0 50px 0;
        width: 100%;
    }
}
