.group-info {
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    scrollbar-color: #e4e4e4 transparent;
    flex: 1;
}

.group-info::-webkit-scrollbar {
    width: 8px;
}

/* Dark mode styles */
body.dark .group-info {
    background-color: #2e2e2e;
    color: #fff;
}

.group-info-header {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

/* Dark mode styles */
body.dark .group-info-header {
    color: #fff;
}

.group-section-title {
    font-weight: 600;
    color: #555;
    margin: 20px 0 10px;
    font-size: 0.9rem;
}

/* Dark mode styles */
body.dark .group-section-title {
    color: #ccc;
}

.group-description,
.group-desired-members {
    font-size: 0.85rem;
    color: #666;
    line-break: anywhere;
    margin-bottom: 10px;
}

/* Dark mode styles */
body.dark .group-description,
body.dark .group-desired-members {
    color: #ddd;
}

.group-members-list,
.group-attachments-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.group-member-item,
.group-attachment-item {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 5px;
    transition: background-color 0.2s;
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 15px;
}

.group-member-item-edit{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 5px;
    transition: background-color 0.2s;
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 15px;
    justify-content: space-between;
}

.group-member-item:hover {
    cursor: pointer;
    background-color: #e3e2e2;
}

.group-member-item-edit:hover{
   background-color: #e3e2e2;
    cursor: pointer;
}

/* Dark mode styles */
body.dark .group-member-item:hover,
body.dark .group-attachment-item:hover {
    background-color: #3a3a3a;
}

.group-member-name {
    font-size: 0.8rem;
    font-weight: 500;
    color: #444;
}

/* Dark mode styles */
body.dark .group-member-name {
    color: #fff;
}

.group-attachment-link {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.85rem;
}

/* Dark mode styles */
body.dark .group-attachment-link {
    color: #85bff8;
}

.group-attachment-link:hover {
    text-decoration: underline;
}
