/* GroupsList.css */
.create-group-button {
    padding: 5px 8px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container-groups {
    margin-bottom: 15px;
    width: calc(100% - 10px);
}

.search-input-groups {
    width: 100%;
    padding: 4px 4px 4px 20px;
    font-size: 1rem;
    border-radius: 25px;
    background-color: rgb(243,243,243);
    outline: none;
    border: none;
}


/* Dark Mode styles for search input */
body.dark .search-input-groups {
    background-color: #333;
    color: #fff;
    border-color: #555;
}


.group-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.group-card:hover {
    background-color: #ebf3fd;
}

/* Dark mode styles */
body.dark .group-card:hover {
    background-color: #3a3a3a;
}

.group-card-selected {
    background-color: #ebf3fd;
}

/* Dark mode styles */
body.dark .group-card-selected {
    background-color: #3a3a3a;
}

.group-name {
    font-size: 0.85rem;
    font-weight: 600;
}

/* Dark mode styles */
body.dark .group-name {
    color: #fff;
}

.group-options {
    position: relative;
    display: flex;
}

.group-options-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.group-card:hover .group-options-button {
    cursor: pointer;
    font-weight: bold;
    border: 1px solid darkgray;
}

body.dark .group-card-selected:hover .group-options-button {
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid lightgray;
}

body.dark .group-options-button:hover{
    background-color: #555;
}

.group-options-button:hover{
    background-color: #e3e2e2;
}

body.dark .group-card:hover .group-options-button {
    cursor: pointer;
    font-weight: bold;
    border: 1px solid lightgray;
}

.group-options-button:hover {
    background-color: #e3e2e2;
}

/* Dark mode styles */
body.dark .group-options-button {
    color: white;
}
body.dark .group-options-button:hover {
    background-color: #555;
}

.group-options-menu {
    position: absolute;
    right: 0;
    top: 25px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    z-index: 5;
    padding: 5px;
}

/* Dark mode styles */
body.dark .group-options-menu {
    background-color: #2e2e2e;
    border: 1px solid #444;
}

.group-options-menu button {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

/* Dark mode styles */
body.dark .group-options-menu button {
    color: #fff;
}

.group-options-menu button:hover {
    background-color: #f1f1f1;
}

/* Dark mode styles */
body.dark .group-options-menu button:hover {
    background-color: #444;
}

/* Styles for member images */
.group-member-images {
    display: flex;
    align-items: center;
    position: relative;
    height: 30px;
    width: 100px; /* Adjust if needed */
}

.group-member-image {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.group-member-image-0 {
    z-index: 3;
}

.group-member-image-1 {
    margin-left: -10px; /* overlap */
    z-index: 2;
}

.group-member-image-2 {
    margin-left: -10px; /* overlap */
    z-index: 1;
}

/* Dark mode for profile image border if needed */
body.dark .group-member-image {
    border: 2px solid #333;
}
