/* GroupsList.css */
.create-group-button {
    padding: 5px 8px;
    background-color: #439ef6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container-groups {
    margin-bottom: 15px;
    width: calc(100% - 10px);
}

.search-input-groups {
    width: 100%;
    padding: 4px 4px 4px 20px;
    font-size: 1rem;
    border-radius: 25px;
    background-color: rgb(243,243,243);
    outline: none;
    border: none;
}


/* Dark Mode styles for search input */
body.dark-mode .search-input-groups {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

.create-group-button:hover {
    background-color: #0056b3;
}

/* Dark mode styles */
body.dark-mode .create-group-button {
    background-color: #007bff;
}

body.dark-mode .create-group-button:hover {
    background-color: #0056b3;
}

.group-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.group-card:hover {
    background-color: #ebf3fd;
}

/* Dark mode styles */
body.dark-mode .group-card:hover {
    background-color: #3a3a3a;
}

.group-card-selected {
    background-color: #ebf3fd;
}

/* Dark mode styles */
body.dark-mode .group-card-selected {
    background-color: #3a3a3a;
}

.group-name {
    font-size: 0.85rem;
    font-weight: bold;
    color: #333;
}

/* Dark mode styles */
body.dark-mode .group-name {
    color: #fff;
}

.group-options {
    position: relative;
}

.group-options-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 15%;
    width: 30px;
    height: 30px;
}

.group-options-button:hover {
    cursor: pointer;
    background-color: #e3e2e2;
}

/* Dark mode styles */
body.dark-mode .group-options-button{
    color: white;
}
body.dark-mode .group-options-button:hover {
    background-color: #555;
}

.group-options-menu {
    position: absolute;
    right: 0;
    top: 25px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    z-index: 1;
    padding: 5px;
}

/* Dark mode styles */
body.dark-mode .group-options-menu {
    background-color: #2e2e2e;
    border: 1px solid #444;
}

.group-options-menu button {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

/* Dark mode styles */
body.dark-mode .group-options-menu button {
    color: #fff;
}

.group-options-menu button:hover {
    background-color: #f1f1f1;
}

/* Dark mode styles */
body.dark-mode .group-options-menu button:hover {
    background-color: #444;
}
