/* Requests.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.requests-page {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}

.requests-container {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    padding: 20px;
    margin: 15px;
}

.requests-columns {
    display: flex;
    justify-content: space-between;
}

.requests-column {
    width: 48%;
}

.requests-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.requests-user-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.requests-user-card-img {
    border: 2px solid #85bff8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.requests-button-container {
    margin-left: auto;
    display: flex;
    gap: 5px;
}


.requests-connect-button {
    background-color: #85bff8;
    border: 2px solid #2c91f4;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.requests-skip-button {
    background-color: #858383;
    border: 2px solid #232323;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;

}

.requests-connect-button:hover,
.requests-skip-button:hover {
    opacity: 0.8;
}

.requests-group-section {
    margin-top: 20px;
}

.requests-group-name {
    margin-bottom: 10px;
}
