/* Requests.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.requests-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}

.requests-container {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    padding: 20px;
    margin: 15px;
}

/* Dark mode styles */
body.dark-mode .requests-container {
    background-color: #2e2e2e;
}

.requests-columns {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.requests-column {
    width: 50%;
}

.requests-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Dark mode styles */
body.dark-mode .requests-title {
    color: #fff;
}

.no-group-text {
    font-size: 0.9rem;
    font-weight: bold;
}

body.dark-mode .no-group-text {
    color: #fff;
}

.requests-user-info {
    display: flex;
    align-items: center;
}

.requests-user-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

/* Dark mode styles */
body.dark-mode .requests-user-card:hover {
    background-color: #3a3a3a;
}

.requests-user-card:hover {
    background-color: #ebf3fd;
    cursor: pointer;
}

.requests-user-card-img {
    border: 2px solid #85bff8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.requests-button-container {
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.requests-connect-button {
    background-color: #85bff8;
    border-radius: 5px;
    padding: 4px 6px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.requests-skip-button {
    background-color: #858383;
    border-radius: 5px;
    padding: 4px 6px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.requests-connect-button:hover,
.requests-skip-button:hover {
    opacity: 0.8;
}

/* Dark mode styles */
body.dark-mode .requests-connect-button {
    background-color: #007bff;
    border: 2px solid #0056b3;
}

body.dark-mode .requests-skip-button {
    background-color: #555;
    border: 2px solid #333;
}

.requests-group-section {
    margin-top: 20px;
}

.requests-group-name {
    margin-bottom: 10px;
    color: #333;
}

/* Dark mode styles */
body.dark-mode .requests-group-name,
.no-group-text {
    color: #fff;
}

/* New styles for tabs */
.requests-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.requests-tabs button {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    font-weight: bold;
    color: #333;
}

/* Dark mode styles */
body.dark-mode .requests-tabs button {
    background-color: #2e2e2e;
    color: #fff;
}

.requests-tabs button.active {
    border-bottom: 2px solid #85bff8;
    color: #85bff8;
}

/* Hover effects */
.requests-tabs button:hover {
    background-color: #e0e0e0;
}

/* Dark mode hover effects */
body.dark-mode .requests-tabs button:hover {
    background-color: #3a3a3a;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .requests-columns {
        flex-direction: column;
    }

    .connections-card-container {
        width: 100%;
    }
}

@media(max-width: 480px) {
    .requests-page{
        margin: 0;
    }

    .requests-tabs{
        margin: 0;
    }
}
