@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.group-message-page {
    display: flex;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    gap: 20px;
    width: 100%;
}

.group-message-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}


.dark-mode .group-message-container {
    background-color: #121212;
}

.group-message-content-other {
    padding: 8px;
    border-radius: 15px;
    background-color: #e1e1e1;
}

.group-message-list {
    flex: 2;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}

.group-message-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.group-message-own {
    align-self: flex-end;
    align-items: flex-end;
}

.group-message-content-own,
.group-message-content-other {
    min-width: 40px;
    width: fit-content;
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 16px;
    position: relative;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 2px;
    word-wrap: break-word;
}

.group-message-content-own {
    background-color: #007bff;
    color: white;
}

.group-message-content-other {
    background-color: #e0e0e0;
    color: black;
}

.dark-mode .group-message-content-own {
    background-color: #0056b3;
}

.dark-mode .group-message-content-other {
    background-color: #2c2c2c;
    color: white;
}

.group-message-timestamp {
    font-size: 0.75rem;
    color: #666;
    text-align: center;
    margin: 10px auto;
    display: block;
    width: 100%;
}

.dark-mode .group-message-timestamp {
    color: #ccc;
}

.group-message-sender-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.group-message-sender-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.group-message-sender-name {
    font-weight: bold;
    font-size: 16px;
}

.group-message-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    bottom: 0;
    gap: 10px;
}

.dark-mode .group-message-input-container {
    background-color: #1e1e1e;
    border-top-color: #444;
}

.group-message-input {
    flex: 1;
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.dark-mode .group-message-input {
    background-color: #333;
    border-color: #555;
    color: #fff;
}

/* Add styles for the send icon */
.group-message-send-button {
    font-size: 1rem;
    cursor: pointer;
    color: #007bff;
}

.group-message-send-button:hover {
    color: #0056b3;
}


.dark-mode .group-message-send-button {
    background-color: #0056b3;
}

.dark-mode .group-message-send-button:hover {
    background-color: #003d80;
}
