/* DashboardNavbar.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

/* DashboardNavbar.css */
.dashboard-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1000;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Rest of the CSS remains the same */

.dark-mode .dashboard-navbar {
    background-color: #1a1a1a;
}

.dashboard-navbar__container {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.dashboard-navbar__logo h1 {
    color: #333;
    margin: 0;
    font-size: 1.5rem;
}

.dark-mode .dashboard-navbar__logo h1 {
    color: #fff;
}

.dashboard-navbar__links {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 1rem;
}

.dashboard-navbar__links li {
    margin-left: 1.5rem;
}

.dashboard-navbar__link {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    padding: 0.5rem 0;
    transition: color 0.2s ease-in-out;
}

.dark-mode .dashboard-navbar__link {
    color: #fff;
}

.dashboard-navbar__link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #007bff;
    transition: width 0.2s ease-in-out;
}

.dashboard-navbar__link:hover {
    color: #007bff;
}

.dark-mode .dashboard-navbar__link:hover {
    color: #66b2ff;
}

.dashboard-navbar__link:hover::after {
    width: 100%;
}

.dashboard-navbar__link--active {
    color: #007bff;
}

.dark-mode .dashboard-navbar__link--active {
    color: #66b2ff;
}

.dashboard-navbar__link--active::after {
    width: 100%;
}


/* Profile icon is hidden by default */
.dashboard-navbar__profile-icon {
    display: none;
}

/* Show the profile icon only on screens smaller than 768px */
@media (max-width: 768px) {
    .dashboard-navbar__profile-icon {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-right: 20px; /* Adjust as needed */
    }

    .profile-icon {
        font-size: 1.5rem; /* Adjust the size of the icon */
        color: #ffffff;
        background-color: #007bff; /* Adjust as needed for a background color */
        border-radius: 50%; /* Makes the icon circular */
        padding: 8px; /* Controls the space around the icon inside the circle */
        width: 40px; /* Set a fixed width for the circular icon */
        height: 40px; /* Set a fixed height for the circular icon */
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s ease, background-color 0.2s ease;
        cursor: pointer;
    }
    .dashboard-navbar__links {
        display: none;
    }
    .profile-icon:hover {
        transform: scale(1.1);
        background-color: #0056b3; /* Change background color on hover */
    }
}

