/* Notifications.css */
.notifications {
    position: relative;
    overflow: visible;
    scrollbar-color: #e4e4e4 transparent;
}

.bell-icon {
    font-size: 25px;
    width: 40px;
    height: 40px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
    padding: 10px;
    position: relative;
    background-color: rgba(0,0,0,0.15);
    border-radius: 50%;
}

/* Dark mode styles */
body.dark .bell-icon {
    color: #fff;
}

.bell-icon:hover {
    transform: scale(1.05);
    background-color: #dddddd;
}

/* Dark mode styles */
body.dark .bell-icon:hover {
    background-color: #3a3a3a;
}

.bell-icon .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.notifications-dropdown {
    width: 500px;
    max-height: 400px;
    position: absolute;
    bottom: 0;
    right: -500px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    z-index: 2000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Dark mode styles */
body.dark .notifications-dropdown {
    background: #2e2e2e;
    border: 1px solid #444;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.notification-item {
    padding: 10px;
    cursor: pointer;
}

/* Dark mode styles */
body.dark .notification-item {
    color: #fff;
}

.notification-message-count {
    background: #f14646;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 5px 10px;
}

.notification-item.unread {
    background-color: #f0f8ff;
}

/* Dark mode styles */
body.dark .notification-item.unread {
    background-color: #3a3a3a;
}

.notification-item:hover {
    background-color: #f9f9f9;
}

/* Dark mode styles */
body.dark .notification-item:hover {
    background-color: #444;
}

.notification-content {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

/* Dark mode styles */
body.dark .notification-content {
    color: #ddd;
}

.notification-timestamp {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

/* Dark mode styles */
body.dark .notification-timestamp {
    color: #aaa;
}

@media(max-width: 480px) {
    .bell-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;
        background-color: rgba(0,0,0,0.15);
        padding: 7px;
        border-radius: 50%;
    }
    .notifications-dropdown {
        right: 40px;
        position: absolute;
        top: 35px;
        bottom: auto;
        width: 300px;
    }
}
