@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.sidebar {
    background-color: rgb(245, 245, 245);
    padding: 12px;
    color: #333;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    transition: width 0.3s ease-in-out;
    align-items: center;
    justify-content: space-between;
}

/* Dark mode styles */
body.dark .sidebar {
    background-color: #1e1e1e;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar-profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 8px;
    object-fit: cover;
}

.sidebar-profile-picture:hover {
    filter: brightness(85%);
}

.sidebar-link {
    display: flex;
    align-items: center;
    color: #333;
    padding: 15px;
    margin: 8px;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
    font-size: 18px;
    gap: 10px;
    border-radius: 4px;
}

/* Dark mode styles */
body.dark .sidebar-link {
    color: #ccc;
}

.sidebar-link .sidebar-icon {
    font-size: 22px;
    transition: transform 0.3s ease;
}

.sidebar-link:hover .sidebar-icon {
    transform: scale(1.2);
}

.sidebar-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: #007bff;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
}

/* Dark mode styles */
body.dark .sidebar-link::before {
    background-color: #85bff8;
}

.sidebar-link:hover::before,
.sidebar-link.active-link::before {
    transform: scaleY(1);
}

.sidebar-link:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

/* Dark mode styles */
body.dark .sidebar-link:hover {
    background-color: #2e2e2e;
    color: #85bff8;
}

.sidebar-link.active-link {
    background-color: #e0e0e0;
    color: #007bff;
}

/* Dark mode styles */
body.dark .sidebar-link.active-link {
    background-color: #2e2e2e;
    color: #85bff8;
}

.tooltip-container {
    display: inline-block;
    position: relative;
}

.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 8px;
    position: absolute;
    z-index: 3;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 12px;
    pointer-events: none;
}

.sidebar-link:hover .tooltip {
    visibility: visible;
    opacity: 0.8;
}

/* Dark mode styles */
body.dark .tooltip {
    background-color: #444;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
