/* Sidebar.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

/* Sidebar.css */
.sidebar {
    width: 200px;
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Rest of the CSS remains the same */

.dark-mode .sidebar {
    background-color: #1a1a1a;
    color: #fff;
}

.sidebar-link {
    color: #333;
    padding: 15px 20px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode .sidebar-link {
    color: #fff;
}

.sidebar-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #007bff;
    border-radius: 50%;
    transform: translate(-150%, -50%);
    transition: transform 0.3s ease-in-out;
}

.sidebar-link:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

.dark-mode .sidebar-link:hover {
    background-color: #2c2c2c;
    color: #66b2ff;
}

.sidebar-link.active-link {
    background-color: #e0e0e0;
    color: #007bff;
}

.dark-mode .sidebar-link.active-link {
    background-color: #333;
    color: #66b2ff;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
