/* Menu.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.explore-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.menu-toggle {
    position: relative;
    display: flex;
    border: 3px solid rgba(180, 209, 255, 0.5);
    border-radius: 12px;
    width: 350px;
    background-color:  rgba(180, 209, 255, 0.2);
}

.menu-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(180, 209, 255, 0.5);
    transition: transform 0.3s ease;
    z-index: 0; /* Place behind the buttons */
    border-radius: 10px;
}
body.dark .menu-toggle {
    /* Use lighter border for contrast on a darker background */
    border: 3px solid lightgrey;
    background-color: darkgrey; /* dark grey background */
}

body.dark .menu-slider {
    /* Slightly lighter than dark grey to distinguish the slider */
    background-color: #5c5c5c;
}

.menu-slider.slide-right {
    transform: translateX(100%);
}

.explore-menu-button {
    border: none;
    color: #333;
    padding: 8px 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

body.dark .explore-menu-button {
    color: #ffffff;
}

.explore-menu-button.active {
    color: #3366cc;
    z-index: 3;
}

body.dark .explore-menu-button.active {
    color: white;
    z-index: 3;
}

.explore-menu-button:not(.active) {
    color: #333;
}

body.dark .explore-menu-button:not(.active) {
    color: rgba(55, 55, 55, 0.97);
}

@media(max-width: 480px) {
    .menu-toggle {
        width: 40%;
    }

    .explore-menu-container {
        margin: 5px 0;
        padding: 0;
    }


    .explore-menu-button {
        padding: 0 2px;
    }
}