/* Connections.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.connections-page {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}

.connections-container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}

.dark-mode .connections-container {
    background-color: #1e1e1e;
    color: #fff;
}

.connections-loading,
.connections-error {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: #666;
}

.dark-mode .connections-loading,
.dark-mode .connections-error {
    color: #ccc;
}

.connections-columns {
    display: flex;
    justify-content: space-between;
    height: 97%;
}

.connections-column {
    width: 48%;
}

.connections-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.connections-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    height: 100%;
    border-radius: 10px;
}

.connection-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.no-connections-container{
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-conversations-rive{
    width: 250px;
    height: 250px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.no-connections-rive{
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.connection-item:hover {
    cursor: pointer;
    background-color: rgba(202, 222, 253, 0.5);
}

.dark-mode .connection-item {
    border-bottom: 1px solid #444;
}

.connection-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.connection-profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #85bff8;
}

.connection-name {
    margin-left: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.dark-mode .connection-name {
    color: #fff;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    outline: none;
}

.menu-icon {
    font-size: 24px;
}

.dark-mode .menu-icon {
    color: #fff;
}

.message-button {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    margin-left: 10px;
}

.dark-mode .message-button {
    border-color: #66b2ff;
    color: #66b2ff;
}

.message-button:hover {
    background-color: #007bff;
    color: #fff;
}

.dark-mode .message-button:hover {
    background-color: #66b2ff;
    color: #fff;
}
