/* Connections.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.connections-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}

.connections-card-container,
.requests-card-container {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    margin: 15px 15px 15px 0;
}

body.dark .connections-card-container,
body.dark .requests-card-container {
    background-color: #2e2e2e;
}

.connections-container {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    margin: 15px;
}

body.dark .connections-container {
    background-color: #2e2e2e;
}



.connections-loading,
.connections-error {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: #666;
}

body.dark .connections-loading,
body.dark .connections-error {
    color: #ccc;
}

.connections-columns {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.connections-title,
.requests-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

body.dark .connections-title,
body.dark .requests-title {
    color: #fff;
}

.connections-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.connection-item {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}

.no-connections-container {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-conversations-rive,
.no-connections-rive {
     width: 300px;
     height: 300px;
     position: relative;
     z-index: 1;
     border-radius: 10px;
}

.connection-item:hover {
    cursor: pointer;
    background-color: rgba(202, 222, 253, 0.5);
}

body.dark .connection-item:hover {
    background-color: #3a3a3a;
}

.connection-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.connection-profile-picture {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    object-fit: cover;
}

.connection-name {
    font-size: 0.9rem;
    font-weight: 600;
}

body.dark .connection-name {
    color: #fff;
}

.connections-options-menu {
    position: absolute;
    right: 0;
    top: 25px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    z-index: 1;
    padding: 5px;
}

body.dark .connections-options-menu {
    background-color: #2e2e2e;
    border: 1px solid #444;
}

.connections-options-menu button {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

body.dark .connections-options-menu button {
    color: #fff;
}

body.dark .connections-options-menu button:hover {
    background-color: #444;
}

.connections-options-menu button:hover {
    background-color: #f1f1f1;
}

.connections-menu-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.connections-menu-button:hover {
    background-color: #e3e2e2;
}

body.dark .connections-menu-button {
    color: white;
}

body.dark .connections-menu-button:hover {
    background-color: #555;
}

.message-button {
    font-size: 0.8rem;
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    margin-right: 10px;
}

.message-button:hover {
    background-color: #abddfb;
}

body.dark .message-button {
    border: 2px solid #85bff8;
    color: #85bff8;
}

body.dark .message-button:hover {
    background-color: #85bff8;
    color: #fff;
}

.connections-tabs,
.requests-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.connections-tabs button,
.requests-tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    font-weight: bold;
    color: #333;
}

body.dark .connections-tabs button,
body.dark .requests-tabs button {
    background-color: #2e2e2e;
    color: #fff;
}

.connections-tabs button.active,
.requests-tabs button.active {
    border-bottom: 2px solid #85bff8;
    color: #85bff8;
}

.connections-tabs button:hover,
.requests-tabs button:hover {
    color: #85bff8;
}

body.dark .connections-tabs button:hover,
body.dark .requests-tabs button:hover {
    background-color: #3a3a3a;
}

.requests-content {
    padding: 10px 0;
}

.requests-user-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.requests-user-card:hover {
    background-color: #ebf3fd;
    cursor: pointer;
}

body.dark .requests-user-card:hover {
    background-color: #3a3a3a;
}

.requests-user-info {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.requests-user-card-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.requests-button-container {
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.requests-connect-button {
    background-color: #85bff8;
    border-radius: 5px;
    padding: 4px 6px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.requests-skip-button {
    background-color: darkgray;
    border-radius: 5px;
    border: 2px solid #858383;
    padding: 4px 6px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.slide-toggle {
    position: relative;
    width: 80%;
    height: 30px;
    margin: 20px auto;
    border-radius: 25px;
    background-color: rgb(244,244,244);
}

.slide-toggle input[type='checkbox'] {
    display: none;
}

.slide-toggle label {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
}

.slide-toggle .toggle-option {
    flex: 1;
    text-align: center;
    font-weight: 500;
    line-height: 30px;
    font-size: 16px;
    color: #666;
    z-index: 2;
    position: relative;
    transition: color 0.3s ease;
}

.slide-toggle input[type='checkbox']:checked + label .toggle-option.groups {
    color: black;
}

.slide-toggle input[type='checkbox']:not(:checked) + label .toggle-option.personal {
    color: black;
}

.slide-toggle input[type='checkbox']:checked + label .toggle-option.personal:hover,
.slide-toggle input[type='checkbox']:not(:checked) + label .toggle-option.groups:hover {
    cursor: pointer;
}

.slide-toggle .toggle-slider {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #e3e2e2;
    border-radius: 25px;
    left: 0;
    top: 0;
    transition: left 0.3s ease;
    z-index: 1;
}

.slide-toggle input[type='checkbox']:checked + label .toggle-slider {
    left: 50%;
}

.requests-connect-button:hover,
.requests-skip-button:hover {
    opacity: 0.8;
}

body.dark .requests-connect-button {
    background-color: #007bff;
    border: 2px solid #0056b3;
}

body.dark .requests-skip-button {
    background-color: #555;
    border: 2px solid #333;
}

body.dark .requests-group-name {
    color: #fff;
}

body.dark .no-group-text {
    color: #fff;
}

@media (max-width: 768px) {
    .connections-columns {
        flex-direction: column;
    }

    .slide-toggle{
        margin: 5px auto;
    }

    .connections-card-container,
    .requests-card-container {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}


.connections-toggle-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    overflow: hidden;
    margin: 5px auto;
}

.slider-background {
    display: flex;
    width: 100%;
    position: relative;
    background-color:  rgba(180, 209, 255, 0.3);
}

body.dark .slider-background {
    background-color: rgb(133, 191, 248);
}

body.dark .connections-slider {
    background-color: rgb(81, 163, 244);
}

.toggle-button {
    flex: 1;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: color 0.3s;
}

.toggle-button.active {
    border-radius: 25px;
}

.connections-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    border-radius: 25px;
    transition: transform 0.3s ease;
    background-color: rgba(180, 209, 255, 0.6);
}

.connections-slider.left {
    transform: translateX(0%);
}

.connections-slider.right {
    transform: translateX(100%);
}

@media (max-width: 480px) {
    .connections-page {
        margin: 0;
        background-color: white;
    }

    body.dark .connections-page {
        background-color: #2e2e2e;
    }

    .slide-toggle input[type='checkbox']:checked + label .toggle-option.groups {
        font-size: 14px;
    }

    .slide-toggle input[type='checkbox']:not(:checked) + label .toggle-option.personal {
        font-size: 14px;
    }

    .connections-card-container,
    .requests-card-container {
        margin: 0;
    }

    .connections-tabs,
    .requests-tabs {
        margin: 0;
    }

    .connections-toggle-slider {
        width: 100%;
        margin-top: 10px;
    }

    .toggle-button {
        font-size: 14px;
        padding: 8px 0;
    }
}
