/* Connections.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.connections-page {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}

.connections-card-container {
    width: 48%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 15px 15px 0;
    font-family: 'Montserrat', sans-serif;
}

/* Dark mode styles */
body.dark-mode .connections-card-container {
    background-color: #2e2e2e;
}

.connections-container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}

/* Dark mode styles */
body.dark-mode .connections-container {
    background-color: #2e2e2e;
}

.connections-loading,
.connections-error {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: #666;
}

/* Dark mode styles */
body.dark-mode .connections-loading,
body.dark-mode .connections-error {
    color: #ccc;
}

.connections-columns {
    display: flex;
    justify-content: space-between;
    height: 97%;
}

.connections-column {
    width: 48%;
}

.connections-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Dark mode styles */
body.dark-mode .connections-title {
    color: #fff;
}

.connections-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.connection-item {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}

/* Dark mode styles */
body.dark-mode .connection-item:hover {
    background-color: #3a3a3a;
}

.no-connections-container {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-conversations-rive {
    width: 350px;
    height: 350px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.no-connections-rive {
    width: 350px;
    height: 350px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.connection-item:hover {
    cursor: pointer;
    background-color: rgba(202, 222, 253, 0.5);
}

/* Dark mode styles */
body.dark-mode .connection-item:hover {
    background-color: #3a3a3a;
}

.connection-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.connection-profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #85bff8;
}

.connection-name {
    margin-left: 15px;
    font-size: 0.95rem;
    font-weight: 600;
    color: #333;
}

/* Dark mode styles */
body.dark-mode .connection-name {
    color: #fff;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    outline: none;
}

.menu-icon {
    font-size: 24px;
}

.connections-menu-icon {
    font-size: 24px;
    padding: 2px 8px;
    border-radius: 15%;
}

body.dark-mode .connections-menu-icon {
    color: #e3e2e2;
}

body.dark-mode .connections-menu-icon:hover {
    transform: scale(1.2);
}


.message-button {
    font-size: 0.85rem;
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    margin-right: 10px;
}

.message-button:hover {
    background-color: #007bff;
    color: #fff;
}

/* Dark mode styles */
body.dark-mode .message-button {
    border: 2px solid #85bff8;
    color: #85bff8;
}

body.dark-mode .message-button:hover {
    background-color: #85bff8;
    color: #fff;
}
