/* GroupExplorePage.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.group-explore-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.explore-group-card {
    background: white;
    color: #333;
    border-radius: 16px;
    width: 100%;
    max-width: 1000px;
    height: 700px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
    position: relative;
}

/* Dark mode styles */
body.dark .explore-group-card {
    background: #2e2e2e;
    color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.explore-group-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    height: 100%;
    width: 100%;
    padding: 25px;
}

.group-explore-name {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
}

/* Dark mode styles */
body.dark .group-explore-name {
    color: #fff;
}

.group-explore-description {
    font-size: 1rem;
    color: #666;
}

/* Dark mode styles */
body.dark .group-explore-description {
    color: #ccc;
}

.group-explore-info h3 {
    margin: 10px 0 5px;
    font-weight: 600;
    color: #444;
}

/* Dark mode styles */
body.dark .group-explore-info h3 {
    color: #ddd;
}

.group-explore-info p {
    margin: 0 0 10px;
    font-size: 0.95rem;
    color: #555;
}

/* Dark mode styles */
body.dark .group-explore-info p {
    color: #ccc;
}

.group-explore-members-list {
    padding: 0;
    list-style: none;
}

.group-explore-member-item {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.group-explore-member-item:hover {
    cursor: pointer;
    background: #ebf3fd;
}

/* Dark mode styles */
body.dark .group-explore-member-item:hover {
    background: #3a3a3a;
}

.group-explore-member-avatar {
    width: 40px;
    height: 40px;
    border: 2px solid #85bff8;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.group-explore-button-container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
}


.group-explore-apply-button,
.group-explore-skip-button {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px;
    flex: 1;
    max-width: 200px;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    border: none;
    outline: none;
}

/* Connect Button */
.group-explore-apply-button {
    background-color: #007BFF; /* Modern blue color */
    color: white;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
}

.group-explore-apply-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0 8px 12px rgba(0, 123, 255, 0.2);
    transform: translateY(-3px);
}

/* Skip Button */
.group-explore-skip-button {
    background-color: transparent;
    color: #007BFF;
    border: 2px solid #007BFF;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
}

.group-explore-skip-button:hover {
    background-color: #007BFF;
    color: white;
    box-shadow: 0 8px 12px rgba(0, 123, 255, 0.2);
    transform: translateY(-3px);
}

/* Dark mode styles */
body.dark .group-explore-apply-button {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 86, 179, 0.1);
}

body.dark .group-explore-apply-button:hover {
    background-color: #004085;
    box-shadow: 0 8px 12px rgba(0, 86, 179, 0.2);
}

body.dark .group-explore-skip-button {
    color: #85bff8;
    border: 2px solid #85bff8;
    box-shadow: 0 4px 6px rgba(133, 191, 248, 0.1);
}

body.dark .group-explore-skip-button:hover {
    background-color: #85bff8;
    color: white;
    box-shadow: 0 8px 12px rgba(133, 191, 248, 0.2);
    transform: translateY(-3px);
}

.explore-group-card-content h3 {
    margin: 10px 0 5px;
    font-weight: 600;
    color: #444;
}

/* Dark mode styles */
body.dark .explore-group-card-content h3 {
    color: #ddd;
}

.group-explore-no-more {
    background: white;
    padding: 25px;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
    position: relative;
}

/* Dark mode styles */
body.dark .group-explore-no-more {
    background: #2e2e2e;
    color: #fff;
}

/* For larger screens */
@media (min-width: 768px) {
    .explore-group-card {
        flex-direction: row;
        align-items: flex-start;
    }

    .explore-group-card-content {
        margin-left: 25px;
    }
}

/* For medium screens (tablets) */
@media (max-width: 767px) {
    .explore-group-card {
        flex-direction: column;
        align-items: center;
    }

    .explore-group-card-content {
        margin-left: 0;
    }

    .group-explore-member-item {
        width: 80%;
    }

}

/* Adjust font sizes for mobile devices */
@media (max-width: 480px) {
    .group-explore-name {
        font-size: 1.5rem;
    }

    .explore-group-card{
        margin-bottom: 50px;
        border-radius: 0;
    }

    .group-explore-info h3 {
        font-size: 1rem;
    }

    .group-explore-info p {
        font-size: 0.9rem;
    }
}
