/* Menu.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.explore-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.menu-toggle {
    position: relative;
    display: flex;
    border: 3px solid rgba(180, 209, 255, 0.5);
    border-radius: 12px;
    width: 350px;
}

/* Dark mode styles */
body.dark-mode .menu-toggle {
    border: 3px solid #444;
}

.menu-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(180, 209, 255, 0.5);
    transition: transform 0.3s ease;
    z-index: 0; /* Place behind the buttons */
}

/* Dark mode styles */
body.dark-mode .menu-slider {
    background-color: #444;
}

.menu-slider.slide-right {
    transform: translateX(100%);
}

.explore-menu-button {
    background: none;
    border: none;
    color: #333;
    padding: 12px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    z-index: 1;
    position: relative;
}

/* Dark mode styles */
body.dark-mode .explore-menu-button {
    color: #ccc;
}

.explore-menu-button.active {
    color: #3366cc;
}

/* Dark mode styles */
body.dark-mode .explore-menu-button.active {
    color: #85bff8;
}

.explore-menu-button:not(.active) {
    color: #333;
}

/* Dark mode styles */
body.dark-mode .explore-menu-button:not(.active) {
    color: #ccc;
}

@media(max-width: 480px) {
    .menu-toggle {
        width: 100%;
        border: none;
    }

    .explore-menu-container {
        margin: 0;
        padding: 0;
    }

    .explore-menu-button {
        padding: 6px 10px;
    }
}