.user-explore-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.user-name {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 10px 0;
}

/* Dark mode styles */
body.dark .user-name {
    color: #fff;
}

.explore-user-card {
    background: white;
    color: #333;
    padding: 25px;
    border-radius: 16px;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    min-height: 700px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
    position: relative;
}

/* Dark mode styles */
body.dark .explore-user-card {
    background: #2e2e2e;
    color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.no-more-users-or-groups {
    background: white;
    padding: 25px;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
    position: relative;
}

/* Dark mode styles */
body.dark .no-more-users-or-groups {
    background: #2e2e2e;
    color: #fff;
}

.explore-user-card-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 10%;
    flex-shrink: 0;
    margin: 10px 10px 10px 0;
}

.user-explore-statuses {
    display: flex;
    flex-direction: column;
}

.user-explore-name {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}

/* Dark mode styles */
body.dark .user-explore-name {
    color: #fff;
}

.user-explore-location {
    font-size: 1rem;
    color: #666;
    text-align: center;
}

/* Dark mode styles */
body.dark .user-explore-location {
    color: #ccc;
}

.user-info h3 {
    margin: 10px 0 5px;
    font-weight: 600;
    color: #444;
}

/* Dark mode styles */
body.dark .user-info h3 {
    color: #ddd;
}

body.dark .user-location {
    color: #ddd;
}

.user-info p {
    margin: 0 0 10px;
    line-break: normal;
    font-size: 0.9rem;
}

/* Dark mode styles */
body.dark .user-info p {
    color: white;
}

.user-explore-courses-list {
    padding: 0;
    list-style: none;
}

.user-explore-courses-list li {
    margin: 5px 0;
}

.user-explore-courses-list a {
    color: #2c91f4;
    text-decoration: none;
    font-weight: 500;
}

/* Dark mode styles */
body.dark .user-explore-courses-list a {
    color: #439ef6;
}

.user-explore-courses-list a:hover {
    font-weight: 600;
}

.user-explore-page-button-container {
    position: absolute;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    bottom: 25px;
}

.connect-button,
.refer-button,
.skip-button {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px;
    flex: 1;
    max-width: 200px;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    border: none;
    outline: none;
}

.status-tag-explore {
    font-weight: 600;
    background-color: rgba(187, 211, 243, 0.5);
    color: #2c91f4;
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    font-size: 0.85rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    user-select: none;
}

body.dark .status-tag-explore {
    background-color: #757474;
}

.refer-button {
    background-color: rgba(0, 123, 255, 0.2);
    color: #007BFF;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
}

/* Connect Button */
.connect-button {
    background-color: #007BFF;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
}

.connect-button:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 12px rgba(0, 123, 255, 0.2);
    transform: translateY(-3px);
}

/* Skip Button */
.skip-button {
    background-color: transparent;
    color: #007BFF;
    border: 2px solid #007BFF;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
}

.skip-button:hover {
    background-color: #007BFF;
    color: white;
    box-shadow: 0 8px 12px rgba(0, 123, 255, 0.2);
    transform: translateY(-3px);
}

.refer-button:hover {
    background-color: #007BFF;
    color: white;
    box-shadow: 0 8px 12px rgba(0, 123, 255, 0.2);
    transform: translateY(-3px);
}

/* Dark mode styles */
body.dark .connect-button {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 86, 179, 0.1);
}

body.dark .connect-button:hover {
    background-color: #439ef6;
    box-shadow: 0 8px 12px rgba(0, 86, 179, 0.2);
}

body.dark .skip-button {
    color: #85bff8;
    border: 2px solid #85bff8;
    box-shadow: 0 4px 6px rgba(133, 191, 248, 0.1);
}

body.dark .skip-button:hover {
    background-color: #85bff8;
    color: white;
    box-shadow: 0 8px 12px rgba(133, 191, 248, 0.2);
    transform: translateY(-3px);
}

.user-explore-no-more {
    text-align: center;
    color: #666;
    font-size: 1.2rem;
}

/* Dark mode styles */
body.dark .user-explore-no-more {
    color: #ccc;
}

/* For larger screens */
@media (min-width: 768px) {
    .explore-user-card {
        flex-direction: row;
        align-items: flex-start;
    }

    .explore-user-card-content {
        margin-left: 25px;
    }
}

@media (max-width: 767px) {
    .explore-user-card {
        flex-direction: column;
        align-items: center;
    }

    .explore-user-card-content {
        margin-left: 0;
    }

    .button-container {
        flex-direction: column;
        width: 100%;
    }

    .user-explore-page-button-container {
        width: 100%;
    }

    .connect-button,
    .skip-button {
        width: 100%;
        max-width: none;
    }
}

@media (max-width: 480px) {
    .user-explore-page-button-container {
        bottom: 55px;
        justify-content: space-around;
        gap: 30px;
        padding:0 20px;
    }
    .explore-user-card {
        min-height: 78vh;
        padding: 15px;
        position: relative;
    }

    .connect-button,
    .refer-button,
    .skip-button {
        padding: 0.35rem 0.3rem;
        font-weight: 600;
    }

    .user-name {
        font-size: 1.5rem;
    }

    .user-info h3 {
        font-size: 1rem;
    }

    .user-info p {
        font-size: 0.9rem;
    }

    /* Styles for small-screen layout */
    .small-screen-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .page-indicators {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
    }

    .indicator {
        width: 150px;
        height: 6px;
        background-color: rgb(243,243,243);
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .indicator.active {
        background-color: rgba(180, 209, 255, 0.5);
    }

    .page-content {
        width: 100%;
    }

    .page-content.page-1,
    .page-content.page-2 {
        transition: transform 0.3s ease-in-out;
    }

    /* Shake animation */
    .shake {
        animation: shake 0.5s;
    }

    @keyframes shake {
        0% { transform: translateX(0); }
        20% { transform: translateX(-10px); }
        40% { transform: translateX(10px); }
        60% { transform: translateX(-10px); }
        80% { transform: translateX(10px); }
        100% { transform: translateX(0); }
    }

    /* Clickable overlay areas */
    .click-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .click-area {
        width: 50%;
        height: 100%;
        cursor: pointer;
    }

}
