/* Settings.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.settings-card {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
}

.settings-navbar {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #e0e0e0;
}

.settings-tab {
    flex: 1;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    color: #666;
    transition: background-color 0.3s, color 0.3s;
}

.settings-tab.active {
    background-color: #e3e2e2;
    color: #000;
}

.settings-tab:hover {
    background-color: #e3e2e2;
}

.settings-tab span {
    display: block;
    font-size: 14px;
}

.settings-content {
    padding: 16px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {

    .settings-navbar {
        flex-direction: column;
    }

    .settings-tab {
        padding: 10px;
        font-size: 16px;
        border-bottom: 1px solid #e0e0e0;
    }

    .settings-tab span {
        font-size: 12px;
    }

    .settings-content {
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .settings-tab {
        flex-direction: row;
        justify-content: flex-start;
    }



    .settings-tab span {
        font-size: 14px;
    }
}
